* {
    box-sizing: border-box;
}

body{
    background-color: #131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

.topnav {
    background-color: #131720;
    overflow: visible;
    padding: 10px;
    display: flex;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    margin-left: auto;
}

.topnav button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: #151f30;
    border: none;
    cursor: pointer;
}

/* Start formatting genres dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    height: auto; /* Ensure the parent container has enough height */
}

.dropbutton {
    cursor: pointer;
}
#genres {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: darkgrey;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out;
}
.dropdown:hover #genres {
    max-height: 1000px; /* Adjust this value as needed */
    overflow: visible;
}

#genres a {
    display: block;
    width: 100%;
    color: black;
    padding: 10px 15px;
    font-size: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
}

#genres a:hover {
    background-color: #ddd;
}
/* End formatting genres dropdown */
.center {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    height: 350px;
    width: 100%;
    border-radius: 19px;
}

.column {
    float:left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    /* Adjust height as needed */
    overflow: hidden;
}

#next button,
#prev button {
    background-color: rgb(32, 27, 66);
    color: grey;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: darkgrey;
    cursor: pointer;
}

#next:hover button,
#prev:hover button {
    color: darkgrey;
    background-color: rgb(32, 27, 66);
    border-color:rgb(32, 27, 66)
}